$bg-color: #e5e0d8;
$bullets-color: #d4b2a7bc;
$bullets-colo: #E2CCC5;
$color-1: #ece4d9;
$accent-color: #A07F75;
$color-2: #E1C2AB;
$color-3: #c7a99f;
$text-color: #2C211C;

$error-color: #F53F3F;
$color-1-old: #EDE9E3;