@use "@/styles/variables.scss";


.svg {
    height: 15vh;
    min-height: 75px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    .draw{
        fill: transparent;
        stroke-linecap: round;
        stroke-linejoin: round;
        display: grid;
        place-items: center;
    }
    .accent{
        stroke: variables.$accent-color;
    }
    .color2{
        stroke: variables.$color-2;
    }
}