@use "@/styles/variables.scss";

.text{
    // width: 100%;
    // color: variables.$color-2;
    // font-size: clamp(0.5rem, 0.2882rem + 1.1294vw, 1.7rem);
    // line-height: 1.35;
    // font-weight: 300;
    display: inline-block;
    white-space: pre;
    color: variables.$color-2;
}