@use "@/styles/variables.scss";

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    padding-top: 5rem;
}
.container{
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    overflow-y: scroll;
}