@use "@/styles/variables.scss";

.footer{
    position: relative;
    z-index: 1;
    height: 30vh;
    width: 100%;
    background-color: variables.$bg-color;
    border-top: 1px solid #a07f7530;
    display: flex;
    

    .box1{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .svg{
            height: 20vh;
            width: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 1rem;
            fill: variables.$accent-color;
            stroke: variables.$accent-color;

            .pathFill{
                fill-rule: evenodd;
                clip-rule: evenodd
            }

            .path{
                stroke: variables.$accent-color;
            }
        }
    }
}