@use "@/styles/variables.scss";

.main{
    height: 100vh;
    min-height: 40rem;
    display: flex;
    align-items: center;
    justify-content:center;
    position: relative;
    
    .container{
        padding: 2em 0;
        position: relative;
        height: 80%;
        width: 60%;
        min-width: 900px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 2em;
        border-radius: 1.25rem;
        border: 2px solid rgba(255, 255, 255, 0.65);
        background: rgba(255, 255, 255, 0.50);
        backdrop-filter: blur(2px);

        .subtitle{
            text-align: center;
            color: variables.$accent-color;
            font-size: 1.4rem;
            font-weight: 400;
        }
        .form{
            display: flex;
            flex-direction: column;
            gap: .5em;
            justify-content: center;
            width: 40%;
            max-height: 60%;

            .formGroup{
                display: flex;
                flex-direction: column;
                gap: 0.5em;

                .label{
                    font-size: 1.1rem;
                    color: variables.$text-color;
                }
                
                .input{
                    width: 100%;
                    height: 2rem;
                    border: 1px solid variables.$accent-color;
                    border-radius: .5rem;
                    padding-left: .5rem;
                }
                .textarea{
                    width: 100%;
                    height: auto;
                    resize: vertical;
                    border: 1px solid variables.$accent-color;
                    border-radius: .5rem;
                    padding-left: .5rem;
                    max-height: 6rem;
                    min-height: 4rem;
                }
            }
            .error{
                color: variables.$accent-color;
            }
            .button{
                width: 100%;
                height: 2.5rem;
                background-color: variables.$text-color;
                color: variables.$bg-color;
                border-radius: .5rem;
            }
        }
    }

    .success{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.8);
        color: #fff;
        border-radius: 10px;
        z-index: 1000;
    }
}

@media (max-width: 768px){
    .main{
        .container{
            width: 90%;
            min-width: 300px;
           .form{
               width: 80%;
           }
       }
    }
}