@use "@/styles/variables.scss";

.background {
    width: 100%;
    height: 100%;
    background-color: variables.$bg-color;
    background-image: radial-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 0);
    background-size: 32px 32px;
    background-position: -1px -1px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: -3;
}